
* {

	padding: 0px;
	margin: 0px;

}

body {

	background-color: white;

}
div.main {

	width: 1000px;
	margin: 0 auto;
	position: relative;
	
}







/*----((( header )))----*/

header {

	height: 200px;
	background-color:white;

}

.banner {

	height: 145px;
	background-repeat:no-repeat;
	background-image:url(image/banner.jpg);

}

.hr-headfoot1 {

	border:solid 2px #bbb;

}

.hr-headfoot2 {

	border-top:solid 1px #bbb;

}




/*--( menu )--*/

menu {

	float: right;
	height: 50px;

}


menu {

	list-style-type: none;
	margin-left: 10px;

}

menu li {

	float: left;
	position     : relative;
	margin:5px 0 0 2px;

}

menu li:active {

	background-color: yellow;
	
}

menu li:first-child {

	background-color: yellow;

}

menu a {

	font-size: 16px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-decoration: none;
	outline: none;
	border: none;
	color:#333;
	display     : block;
	font-weight: bold;
	padding     : 10px 14px;
	white-space     : nowrap;

}

menu a:hover {

	color: yellow;

}
menu a:active {

	color:#333;

}

menu a:first-child {

	color:#333;

}

menu li li{

	float : none;
	border      : none;

}

menu li menu {

	min-width : 100%;
	position: absolute;
	left: -12;
	top: 42;
	display   : none;

}

menu li:hover menu {

	display: block;

}

menu menu li:first-child {

	background-color: white;

}

header input {

	float: left;
	width: 225px;
	height: 35px;
	margin-top: 8px;
	font-size: 16px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:white;
	background-color: #333;
	font-weight: bold;

}









/*----((( slideshow )))----*/

.container{

	width       : 1000px;
	margin      : 0 auto;

}


.slideshow {

	height : 460px;
	width      : 1000px;
	margin: 5px 0 5px 0;
	overflow: hidden;
	position: relative;
	background-image    : url(image/loading.gif);
	background-repeat   : no-repeat;
	background-position : center center;
}

.slideshow .train {

	width: 10000;
	height: 430px;
	position: absolute;
	left: 0;
	top: 0;
	-webkit-transition : left 800ms ease-in-out;

}

.slideshow .train > div {

	width  : 1000px;
	height : inherit;
	float  : left;
	border-radius       : 4px;
	background-size     : cover;
	background-repeat   : no-repeat;
	background-position : left top;

}


div.slideshow ul.btns {

	height: 30px;
	bottom: -7px;
	left: 450;
	margin: 0 auto;
	position: absolute;
	list-style-type: none;

}

div.slideshow ul.btns li{

	height: 20px;
	float: left;
	width: 20px;
	cursor : pointer;
	margin      :3px 10px 0 0;
	border-radius      : 2px;
	background-image:url(image/1.png);
	-webkit-transition : all 1100ms;
	
}

div.slideshow ul.btns li:hover,
div.slideshow ul.btns li.active {

	height: 20px;
	background-image:url(image/2.png);
	background-repeat: no-repeat;
	-webkit-transition-duration : 200ms;

}






/*----((( content )))----*/

.content {


}




/*--( welcome )--*/

.welcome {

	height: 250px;
	background-color: white;

}

.welcome h2 {

	padding-top: 50px;
	font-size: 50px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bold;
	color:#333;

}

.welcome p {

	padding-top: 20px;
	color:#777;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

}




/*--( featured-projects )--*/

.featured-projects {

	height: 573px;
	background-color: white;

}

.fp-header {

	height: 45px;
	background-color: white;

}

.fp-header h2 {

	font-size: 28px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bold;
	color:#444;
	float: left;

}

.fp-header a {

	font-size: 18px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bold;
	color:#777;
	display: block;
	float: right;
	text-decoration: none;
	outline: none;
	border: none;
	margin: 10px 40px 0 0;

}

.hr-content {

	border-top:solid 1px #bbb;

}




/*--( fp-content )--*/

.fp-content {

	margin: 20px 0 10px 0;
	height: 490px;
	position: relative;

}

.fp-content h3 {

	font-size: 12px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#777;
	float: left;

}

.fp-content p {

	font-size: 10px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#777;

}

.fp-content img:hover {

	opacity: 0.8;

}

.fp1 {

	position: absolute;
	width: 325px;
	height: 440px;

}

.fpname1 {
	position: absolute;
	width: 336px;
	height: 36px;
	top:455px;

}

.fp2 {

	position: absolute;
	width: 325px;
	height: 440px;
	left: 338px;
	top: 0;

}

.fpname2 {
	position: absolute;
	width: 340px;
	height: 36px;
	top:455px;
	left: 336px;

}

.fp3 {

	position: absolute;
	width: 325px;
	height: 440px;
	left: 675px;
	top: 0;

}

.fpname3 {
	position: absolute;
	width: 326px;
	height: 36px;
	top:455px;
	left:675px;

}




/*--( info )--*/

.info {

	margin: 50px 0 50px 0;
	height: 290px;
	position: relative;

}

.info h2 {

	font-size: 30px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bold;
	color:#444;
	margin: 20px 0 0 35px;

}

.info p {

	font-size: 10px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#777;
	margin: 30px 10px 25px 35px;

}

.info input {

	width: 80px;
	height: 30px;
	background-color: #444;
	margin: 0 0 0 35px;
	font-size: 14px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:white;
	border: none;

}

.info input:hover {

	background-color: yellow;
	color:#777;
	
}

.info1 {

	position: absolute;
	width: 330px;
	height: 290px;
	border-left: 1px solid gray;
	border-right: 1px solid gray;

}

.info2 {

	position: absolute;
	top: 0;
	left: 335;
	width: 330px;
	height: 290px;

}

.info3 {

	position: absolute;
	top: 0;
	left: 669px;
	width: 330px;
	height: 290px;
	border-left: 1px solid gray;
	border-right: 1px solid gray;

}




/*--( partners )--*/

.partners {

	height: 250px;
	position: relative;
}

.partners h2 {

	font-size: 30px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bold;
	color:#444;
	margin: 0 0 20px 0;

}

.partners a {

	outline: none;
	border: none;

}

.partners img {

	outline: none;
	border: none;
	
}


.partners1 {

	position: absolute;
	width: 245px;
	height: 175px;
	background-color: blue;
}

.partners2 {
	position: absolute;
	left:253px;
	width: 245px;
	height: 175px;
	background-color: orange;
}

.partners3 {
	position: absolute;
	left:505px;
	width: 245px;
	height: 175px;
	background-color: black;
}

.partners4 {

	position: absolute;
	left:757px;
	width: 245px;
	height: 175px;
	background-color: yellow;
}







/*----((( footer )))----*/

footer {

	margin-top: 20px;
	height: 60px;


}

footer h2 {

	font-size: 20px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bold;
	color:#444;
	margin: 10px 0 0 0;
	float: left;

}

footer p {

	font-size: 11px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#444;
	padding: 17px 0 0 0;

}